<nav>
  <div class="logo"> <img src="assets/img/logo.png" alt="logo" width="100px"></div>
  <div class="hamburger" [ngClass]="{'menu-open': menuOpen}">
    <button class="hamburger-icon" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

    <ul class="menu" [ngClass]="{'menu-open': menuOpen}" >
      <ng-container *ngFor="let menuItem of menuItems">
        <li class="list-element toggle"  (click)="toggleSubMenu($event)">
          <a [href]="menuItem.url">{{ menuItem.title }}</a>
          <ng-container *ngIf="menuItem.child_items">
            <ng-container *ngTemplateOutlet="childMenu; context: { itemsc: menuItem.child_items }"></ng-container>
          </ng-container>
        </li>
      </ng-container>
    </ul>


  <div class="search" id="search">
    <fa-icon [icon]="faSearch"></fa-icon>
    <input [(ngModel)]="searchQuery" (keyup.enter)="search()">
    <ng-container *ngIf="searchResults && searchResults.length > 0">
      <ng-container *ngTemplateOutlet="searchMenu; context: { searchResults: searchResults}"></ng-container>
    </ng-container>
  </div>


</nav>

<ng-template #childMenu let-itemsc="itemsc">
  <ul class="submenu">
    <ng-container *ngFor="let childItem of itemsc">
      <li>
        <a [href]="childItem.url">{{ childItem.title }}</a>
        <span class="toggle" *ngIf="childItem.child_items" (click)="toggleSubMenu($event)">+</span>
        <ng-container *ngIf="childItem.child_items">
          <ng-container *ngTemplateOutlet="childMenu; context: { itemsc: childItem.child_items }"></ng-container>
        </ng-container>
      </li>
    </ng-container>
  </ul>
</ng-template>


<ng-template #searchMenu let-searchResults="searchResults">
  <ul class="searchmenu">
    <ng-container *ngFor="let post of searchResults">
      <li>
        <a [href]="post.link">{{post.title.rendered }}</a>
      </li>
    </ng-container>
  </ul>
</ng-template>
