::ng-deep nav {
  align-items: center;
  background: #f9f9f9;
  box-shadow: 0 4px 21px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100vw;
}

::ng-deep nav .menu {
  align-items: center;
  display: flex;
  text-align: center;
}

::ng-deep nav ul {
  display: flex;
  flex-direction: row;
  gap: 3vw;
  justify-content: space-between;
}

::ng-deep nav ul li.list-element a {
  font-weight: 500;
  text-align: center;
}

@media screen and (orientation: landscape) {
  .list-element {
    background-color: #f9f9f9;
    padding: 20px;
    transition: background-color 0.23s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  }

  .list-element:hover {
    background-color: #b7b7b7;
  }
}

#search {
  align-items: center;
  display: flex;
  flex-shrink: 5;
  inline-size: fit-content;
}

#search fa-icon {
  color: #000;
  font-size: 1rem;
  margin-left: 0.2rem;
  opacity: 0.2;
  position: absolute;
}

#search input {
  background: #e6e6e6;
  border: none;
  border-radius: 300px;
  padding: 0.4rem 2rem;
}

.hamburger {
  display: none;
}

.list-element a {
  position: relative;
  text-decoration: none;
}

.searchmenu {
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
}

.searchmenu li {
  padding: 20px;
}

.searchmenu li:hover {
  background-color: #bababa;
}

.submenu {
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: none;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
}

.submenu li {
  padding: 20px;
}

.submenu li:hover {
  background-color: #bababa;
}

.submenu.show {
  animation-duration: 0.3s;
  animation-name: slideIn;
  animation-timing-function: ease-in-out;
  display: block;
  opacity: 1;
}

.toggle {
  cursor: pointer;
  margin-left: 5px;
}

::ng-deep nav li {
  list-style-type: none;
  padding: 5px;
}

a.isopen:after {
  width: 80%;
}

a:after {
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  background: #000;
  bottom: -4px;
  content: "";
  height: 2px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  transition: 0.5s;
  width: 0;
}

li.logo {
  grid-column: 1 / span 2;
  margin-right: 10vw;
}

li:hover > .submenu {
  opacity: 1;
}

@keyframes slideIn {
  0% {
    transform: translateY(-10%);
  }

  100% {
    transform: translateY(0%);
  }
}




@media (max-width: 480px) {
  @keyframes navDown {
    0% {
      height: 0;
      transform: translateY(-250px);
    }

    100% {
      height: 100%;
      transform: translateY(0);
    }
  }

  #search {
    flex-basis: 100%;
    order: 3;
    padding: 2vw;
  }

  #search input {
    width: 90%;
  }

  .hamburger {
    align-items: center;
    display: flex;
    justify-content: center;
    justify-self: flex-end;
    margin-left: auto;
    order: 2;
    padding-right: 1vw;
  }

  .hamburger-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    padding: 0;
    width: 30px;
  }

  .hamburger-icon span {
    background-color: #000;
    border-radius: 10px;
    display: block;
    height: 2px;
    transition: transform 0.3s ease-in-out;
    width: 100%;
  }

  .hamburger-icon span:first-child {
    transform-origin: top;
  }

  .hamburger-icon span:last-child {
    transform-origin: bottom;
  }

  .logo {
    margin-right: auto;
    order: 1;
    padding-left: 1vw;
  }

  .menu { background-color: aqua;
    align-items: flex-start;
    display: none;
    flex-direction: column;
    order: 4;
    height: 0px;
    text-align: left;

  }

  .menu-open , .menu.menu-open {
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .menu-open .hamburger-icon span:first-child {
    transform: rotate(45deg) translate(10px, 10px);
  }

  .menu-open .hamburger-icon span:last-child {
    transform: rotate(-45deg) translate(3px, -3px);
  }

  .menu-open .hamburger-icon span:nth-child(2) {
    opacity: 0;
  }

  .menu-open .list-element {
    display: block;
    text-align: left;
  }

  .submenu {
    box-shadow: none;
    position: relative;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    justify-content: space-between;
    left: 0;
    padding-top: 1vw;
    top: 0;
  }

}
