<nav>
  <ul>
    <li class="logo"> <img src="assets/img/logo.png" alt="logo" width="100px"></li>
    <ng-container *ngFor="let menuItem of menuItems">

      <li class="list-element">
        <a [href]="menuItem.url">{{ menuItem.title }}</a>
        <span class="toggle" *ngIf="menuItem.child_items" (click)="toggleSubMenu($event)">+</span>
        <ng-container *ngIf="menuItem.child_items">
          <ng-container  *ngTemplateOutlet="childMenu; context: { itemsc: menuItem.child_items }"></ng-container>
        </ng-container>
      </li>
    </ng-container>
    <li class="search" id="search">
      <input [(ngModel)]="searchQuery" (keyup.enter)="search()" placeholder="Search">
      <ng-container  *ngIf="searchResults && searchResults.length > 0">
        <ng-container *ngTemplateOutlet="searchMenu; context: { searchResults: searchResults}"></ng-container>
      </ng-container >
    </li>
  </ul>
</nav>

<ng-template #childMenu let-itemsc="itemsc">
  <ul class="submenu">
    <ng-container *ngFor="let childItem of itemsc">
      <li>
        <a [href]="childItem.url">{{ childItem.title }}</a>
        <span class="toggle" *ngIf="childItem.child_items" (click)="toggleSubMenu($event)">+</span>
        <ng-container *ngIf="childItem.child_items">
          <ng-container *ngTemplateOutlet="childMenu; context: { itemsc: childItem.child_items }"></ng-container>
        </ng-container>
      </li>
    </ng-container>
  </ul>
</ng-template>


<ng-template #searchMenu let-searchResults="searchResults">
  <ul class="searchmenu">
    <ng-container  *ngFor="let post of searchResults">
      <li>
        <a [href]="post.link">{{post.title.rendered }}</a>
      </li>
    </ng-container>
  </ul>
</ng-template>
