/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Montserrat';
  @media only screen and (max-width: 320px) {
    font-size:16px;
  }

  /* Styles for screens between 321px and 480px */
  @media only screen and (min-width: 321px) and (max-width: 480px) {
    font-size:16px;
  }

  /* Styles for screens between 481px and 768px */
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    font-size:14px;
  }

  /* Styles for screens between 769px and 1024px */
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    font-size:14px;  }

  /* Styles for screens between 1025px and 1280px */
  @media only screen and (min-width: 1025px) and (max-width: 1366px) {
    font-size:13px;  }

  /* Styles for screens with a width of 1281px or more */
  @media only screen and (min-width:1376px) {
    font-size:16px;
  }
}



a {
  text-decoration: none;
  color: black;
}



